[submodule "submodules/htslib"]
	path = submodules/htslib
	url = https://github.com/samtools/htslib
[submodule "submodules/qgenlib"]
	path = submodules/qgenlib
	url = https://github.com/hyunminkang/qgenlib
